button {
  border: none;
  padding: 20px;
  margin: 30px 30px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  background-color: #1fe46f;
  color: #fff;
  width: 100px;
}

h2 {
  margin: 0px 30px;
}

.box-full {
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  padding: 30px;
}

.item {
  border: 1px solid black;
  padding: 30px;
}

.item:hover {
  background-color: #eee;
}